# This file contains a configuration snippet for a dual extruder
# printer using dual carriages (an "IDEX" printer).

# See docs/Config_Reference.md for a description of parameters.

# Definition for the secondary carriage and extruder1

##	Connected to Motor3
[dual_carriage]
axis: x
safe_distance: 52
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 256
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
rotation_distance: 29.825
endstop_pin: ebb1: PB6 #PG11
position_endstop: 479.5
position_min: 16
position_max: 480.0
homing_speed: 80
homing_retract_dist: 5
second_homing_speed: 5

##	Connected to Motor7
[extruder1]
step_pin: ebb1: PD0 #PE6
dir_pin: !ebb1: PD1 #PA14
enable_pin: !ebb1: PD2 #!PE0
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
rotation_distance: 52.65    #HGX Drive Gears
gear_ratio: 9.57647:1
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: ebb1: PB13 #PA3
sensor_type: PT1000
sensor_pin: ebb1: PA3 #PF5
pullup_resistor: 2110
min_temp: -270
max_temp: 320
max_power: 1.0
min_extrude_temp: 180
max_extrude_only_distance: 500
smooth_time: 0.5
control = pid
pid_kp = 30.354
pid_ki = 2.772
pid_kd = 83.095
pressure_advance: 0.0
pressure_advance_smooth_time: 0.020

# Helper script to park the carriage (called from T0 and T1 macros)
[gcode_macro PARK_extruder]
gcode:
    {% if "xy" in printer.toolhead.homed_axes %} 
      SAVE_GCODE_STATE NAME=park0
      G90
      G1 X{printer.configfile.settings.stepper_x.position_min+0.2} F18000
      RESTORE_GCODE_STATE NAME=park0
    {% endif %}

# Activate the primary extruder
[gcode_macro T0]
gcode:
    {% if printer.dual_carriage.carriage_1 == "PRIMARY" %}
        PARK_extruder1
        SET_DUAL_CARRIAGE CARRIAGE=0
        SET_STEPPER_ENABLE STEPPER=extruder ENABLE=1
        SET_STEPPER_ENABLE STEPPER=extruder1 ENABLE=0
        ACTIVATE_EXTRUDER EXTRUDER=extruder
        SET_SERVO SERVO=fan_servo ANGLE=140
        SET_SERVO SERVO=fan_servo ANGLE=138
        SET_GCODE_OFFSET X=0 Y=0
        SWAP_CLEAN
        G1 F12000
    {% endif %}

[gcode_macro PARK_extruder1]
gcode:
    {% if "xy" in printer.toolhead.homed_axes %} 
      SAVE_GCODE_STATE NAME=park1
      G90
      G1 X{printer.configfile.settings.dual_carriage.position_max-0.2} F18000
      RESTORE_GCODE_STATE NAME=park1
    {% endif %}

[gcode_macro T1]
gcode:
    {% if printer.dual_carriage.carriage_0 == "PRIMARY" %}
        PARK_extruder
        SET_DUAL_CARRIAGE CARRIAGE=1
        SET_STEPPER_ENABLE STEPPER=extruder1 ENABLE=1
        SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
        ACTIVATE_EXTRUDER EXTRUDER=extruder1
        SET_SERVO SERVO=fan_servo ANGLE=40
        SET_SERVO SERVO=fan_servo ANGLE=42
        SET_GCODE_OFFSET X=0 Y=1.1
        SWAP_CLEAN
        G1 F12000
    {% endif %}

[gcode_macro SWAP_CLEAN]
gcode:
    SAVE_GCODE_STATE NAME=SWAP
    M83
    G1 E20 F100
    G1 E-2 F1800
    RESTORE_GCODE_STATE NAME=SWAP

[gcode_macro calibrate_separation]
gcode:
    # SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=60
    # SET_HEATER_TEMPERATURE HEATER=extruder TARGET=210
    # SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=210
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM=60
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=210   
    TEMPERATURE_WAIT SENSOR=extruder1 MINIMUM=210
    G28
    G90
    M83
    G1 Z10 F600                                                                                    
    G92 E0      
    T0 ; test T0
    G1 X175 Y150 Z.2 F10000
    G1 Y75 E6
    G1 E-2
    T1 ; test T1
    G1 X175 Y1 Z.2 F10000
    G1 Y74 E6
    G1 E-2
    G1 X400
    G1 Y5
    G1 Z100 F600
    