[adxl345 ebb]
cs_pin: ebb: PB12
spi_software_sclk_pin: ebb: PB10
spi_software_mosi_pin: ebb: PB11
spi_software_miso_pin: ebb: PB2
axes_map: x,-z,y

[adxl345 ebb1]
cs_pin: ebb1: PB12
spi_software_sclk_pin: ebb1: PB10
spi_software_mosi_pin: ebb1: PB11
spi_software_miso_pin: ebb1: PB2
axes_map: x,-z,y

[adxl345 piadxl]
cs_pin: rpi: None
spi_bus: spidev1.0
axes_map: x,-z,y

[resonance_tester]
accel_chip: adxl345 ebb
max_freq: 100
# sweeping_period: 0
# accel_per_hz: 100
hz_per_sec: 1
probe_points:
    230,150,10

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 10
keep_raw_data: False
show_macros_in_webui: True
timeout: 600
measurements_chunk_size: 2
max_freq: 200
dpi: 300

[input_shaper]

[delayed_gcode init_shaper]
initial_duration: 1.0
gcode:
    SET_DUAL_CARRIAGE CARRIAGE=1
    SET_INPUT_SHAPER SHAPER_TYPE_X=MZV SHAPER_TYPE_Y=EI SHAPER_FREQ_X=80.4 SHAPER_FREQ_Y=71.4
    SET_DUAL_CARRIAGE CARRIAGE=0
    SET_INPUT_SHAPER SHAPER_TYPE_X=MZV SHAPER_TYPE_Y=EI SHAPER_FREQ_X=80.4 SHAPER_FREQ_Y=71.4
    M84