#####################################################################
# LED Control
#####################################################################

# [neopixel fan_led]
# pin: PD3
# chain_count: 24
# color_order: GRB
# initial_RED: 0.5
# initial_GREEN: 0.5
# initial_BLUE: 0.5

[led caselight_bottom]
white_pin: PB5
cycle_time: 0.010
initial_WHITE: 0.5

[led caselight_top]
white_pin: PB6
cycle_time: 0.010
initial_WHITE: 0.5

# [display_template led_heating_progress]
# text:
#     {% set temp = printer.extruder.temperature / 300.0|float %}
#     {% if temp < 1.0 %}
#         0.0, {temp}, 0.0
#     {% else %}
#         1.0, 0.6, 0.3
#     {% endif %}

# [output_pin Led_Red]
# ##  Chamber Lighting Red
# pin: PB6
# pwm: True
# shutdown_value: 0
# value: 1.0
# cycle_time: 0.01

# [output_pin Led_Green]
# ##  Chamber Lighting Green
# pin: PB5
# pwm: True
# shutdown_value: 0
# value: 0.6
# cycle_time: 0.01

# [output_pin Led_Blue]
# ##  Chamber Lighting Blue
# pin: PB7
# pwm: True
# shutdown_value: 0
# value: 0.3
# cycle_time: 0.01

# [gcode_macro LED]
# variable_value: 1
# gcode:
#     {% set case_blue = printer.configfile.config['led caselight'].initial_blue|float %}
#     {% set case_green = printer.configfile.config['led caselight'].initial_green|float %}
#     {% set case_red = printer.configfile.config['led caselight'].initial_red|float %}
#     {% set fan_blue = printer.configfile.config['neopixel fan_led'].initial_blue|float %}
#     {% set fan_green = printer.configfile.config['neopixel fan_led'].initial_green|float %}
#     {% set fan_red = printer.configfile.config['neopixel fan_led'].initial_red|float %}
#     {% if 'VALUE' not in params %}
#         {action_raise_error("Parameter 'VALUE' missing from 'LED'")}
#     {% endif %}
#     {% if value == 0 %}
#         SET_LED LED=fan_led RED={fan_red} GREEN={fan_green} BLUE={fan_blue}
#         SET_LED LED=caselight RED={case_red} GREEN={case_green} BLUE={case_blue}
#         # SET_PIN PIN=Led_Red VALUE=1.0
#         # SET_PIN PIN=Led_Green VALUE=0.6
#         # SET_PIN PIN=Led_Blue VALUE=0.3
#         SET_GCODE_VARIABLE MACRO=LED VARIABLE=value value=1
#     {% else %}
#         SET_LED LED=fan_led RED=0 GREEN=0 BLUE=0
#         SET_LED LED=caselight RED=0 GREEN=0 BLUE=0
#         # SET_PIN PIN=Led_Red VALUE=0
#         # SET_PIN PIN=Led_Green VALUE=0
#         # SET_PIN PIN=Led_Blue VALUE=0
#         SET_GCODE_VARIABLE MACRO=LED VARIABLE=value value=0
#     {% endif %}