[gcode_macro _Probe_Variables]
variable_dock_x: -30.0            ; изменить на свое значение
variable_dock_y: 316.0            ; изменить на свое значение
variable_servo_up: 16             ; изменить на свое значение
variable_servo_down: 106          ; изменить на свое значение
variable_dock_move: 25.0 
gcode:

[homing_override]
axes: xyz
set_position_z: -6
gcode:
    {% set minX = printer.toolhead.axis_minimum.x|float + 0.5 %}
    {% set minY = printer.toolhead.axis_minimum.y|float + 1 %}
    {% set homeX = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set homeY = printer.toolhead.axis_maximum.y|float / 2 %}
    # {% set positionX = printer.toolhead.position.x|float %}
    # {% set positionY = printer.toolhead.position.y|float %}
    G90
    {% if 'X' in params %}
        G28 X
    {% elif 'Y' in params %}
        G28 Y
    {% elif 'Z' in params %}
        SET_KINEMATIC_POSITION Z=0
        G0 Z10 F500
        ATTACH_PROBE
        G0 X{homeX} Y{homeY} F18000
        G28 Z
        G0 Z10 F500
        DETACH_PROBE
        G0 X{minX} Y{minY} F12000
    {% else %}
        SET_KINEMATIC_POSITION Z=0
        G0 Z10 F500
        G28 X
        G28 Y
        ATTACH_PROBE
        G0 X{homeX} Y{homeY} F18000
        G28 Z
        G0 Z10 F500
        DETACH_PROBE
        G0 X{minX} Y{minY} F12000
    {% endif %}

[probe]
pin: ^ebb:PB9                ; use pin PA0 and enable internal pullup resistor as this is an NC switch  use ! to invert if needed
deactivate_on_each_sample: False
x_offset: 0                  ; probe is offset 6 mm from nozzle
y_offset: 22.0               ; probe is +59 mm from nozzle in Y direction
z_offset: 7.95               ; trigger point is 3.85 mm below nozzle. Larger numbers move effective Z0 CLOSER to the nozzle
speed: 7                     ; probing speed of 7 mm/second ideal is <10mm/sec  
samples: 3                   ; number of probes to perform per sample
samples_result: median       ; normalization method: see config reference
sample_retract_dist: 0.7
samples_tolerance: 0.01
samples_tolerance_retries: 3
  
# Macro to Attach Bed Probe
[gcode_macro ATTACH_PROBE]
gcode:
    G90
    QUERY_PROBE
    _ATTACH_PROBE

[gcode_macro _error_if_probe_attached]
gcode:
    QUERY_PROBE
    _do_error_if_probe_attached

[gcode_macro _do_error_if_probe_attached]
gcode:
    {% if not printer.probe.last_query %}
        {action_raise_error("Probe is attached")}
    {% endif %}

# Macro to Attach Bed Probe
[gcode_macro _ATTACH_PROBE]
gcode:
    {% set dockX = printer["gcode_macro _Probe_Variables"].dock_x %}
    {% set dockY = printer["gcode_macro _Probe_Variables"].dock_y %}
    {% set dockMove = printer["gcode_macro _Probe_Variables"].dock_move %}
    {% set servoUp = printer["gcode_macro _Probe_Variables"].servo_up %}
    {% set servoDown = printer["gcode_macro _Probe_Variables"].servo_down %}
    G90
    {% if printer.probe.last_query %}
        G0 X{dockX} Y{dockY} F12000                                 ;  move the carriage to dock position
        SET_SERVO SERVO=probe_servo ANGLE={servoUp}                 ;  move servo up
        M400                                                        ;  wait for moves to finish
        G0 X{dockX} Y{dockY - dockMove} F12000                      ;  move to the front of the dock
        SET_SERVO SERVO=probe_servo ANGLE={servoDown}               ;  move servo down
        M400                                                        ;  wait for moves to finish
        SET_SERVO SERVO=probe_servo WIDTH=0                         ;  disable servo output
    {% endif %}

[gcode_macro _error_if_probe_not_attached]
gcode:
    QUERY_PROBE
    _do_error_if_probe_not_attached

[gcode_macro _do_error_if_probe_not_attached]
gcode:
    {% if printer.probe.last_query %}
        {action_raise_error("Probe is not attached")}
    {% endif %}

# Macro to Detach Bed Probe
[gcode_macro DETACH_PROBE]
gcode:
    G90
    QUERY_PROBE
    _DETACH_PROBE

# Macro to Detach Bed Probe
[gcode_macro _DETACH_PROBE]
gcode:
    {% set dockX = printer["gcode_macro _Probe_Variables"].dock_x %}
    {% set dockY = printer["gcode_macro _Probe_Variables"].dock_y %}
    {% set dockMove = printer["gcode_macro _Probe_Variables"].dock_move %}
    {% set servoUp = printer["gcode_macro _Probe_Variables"].servo_up %}
    {% set servoDown = printer["gcode_macro _Probe_Variables"].servo_down %}
    G90
    {% if not printer.probe.last_query %}                           ; the logic on this needs function check
        G0 X{dockX} Y{dockY - dockMove} F12000                      ;  move to a position in front of the dock so simple linear movement into dock 
        SET_SERVO SERVO=probe_servo ANGLE={servoUp}                 ;  move servo up
        M400                                                        ;  wait for moves to finish
        G0 X{dockX} Y{dockY} F6000                                  ;  move to the re-entry staging position
        G0 X{dockX + dockMove} Y{dockY} F6000                       ;  move to the side of the dock
        SET_SERVO SERVO=probe_servo ANGLE={servoDown}               ;  move servo down
        M400                                                        ;  wait for moves to finish
        # G4 P2000
        SET_SERVO SERVO=probe_servo WIDTH=0                         ;  disable servo output
    {% endif %}                                                     ;  exit the if-then loop. was missing in previous versions

[servo probe_servo]
pin: PG10 #PG6 
maximum_servo_angle: 180
minimum_pulse_width: 0.0005
maximum_pulse_width: 0.0025
initial_angle: 106

# [safe_z_home]
# home_xy_position: 230, 120
# speed: 200.0
# z_hop: 5
# z_hop_speed: 7.0
# move_to_previous: True

# [output_pin _probe_enable]
# pin: ebb:PB9
# value: 0 # Probe default stow

# # Probe deploy
# [gcode_macro _probe_deploy]
# gcode:
#   SET_PIN PIN=_probe_enable VALUE=1

# # Probe stow
# [gcode_macro _probe_stow]
# gcode:
#   SET_PIN PIN=_probe_enable VALUE=0

# [probe]
# pin: ^!ebb:PB8
# deactivate_on_each_sample: False
# x_offset: 0                  ; probe is offset 6 mm from nozzle
# y_offset: 24.40              ; probe is +76 mm from nozzle in Y direction
# z_offset: 0.70               ; trigger point is 0.65 mm below nozzle. Larger numbers move effective Z0 CLOSER to the nozzle
# speed: 7.0
# samples: 3                   ; number of probes to perform per sample
# samples_result: median       ; normalization method: see config reference
# sample_retract_dist: 0.8
# samples_tolerance: 0.01
# samples_tolerance_retries: 3
# activate_gcode:
#   _probe_deploy
#   G4 P500
# deactivate_gcode:
#   _probe_stow

[bed_mesh]
speed: 300
horizontal_move_z: 8
mesh_min: 10, 23
mesh_max: 420, 308
probe_count: 8, 6
mesh_pps: 3, 3
algorithm: bicubic
bicubic_tension: 0.2
fade_start: 0.6
fade_end: 4
move_check_distance: 5
split_delta_z: .025

[bed_screws] # BED_SCREWS_ADJUST
screw1: 12, 1
screw1_name: front left screw
screw2: 12, 150
screw2_name: center left screw
screw3: 12, 298
screw3_name: rear left screw
screw4: 120, 65
screw4_name: center left-front screw
screw5: 120, 235
screw5_name: center left-rear screw
screw6: 227, 1
screw6_name: front center screw
screw7: 227, 150
screw7_name: center center screw
screw8: 227, 298
screw8_name: rear center screw
screw9: 334, 65
screw9_name: center right-front screw
screw10: 334, 235
screw10_name: center right-rear screw
screw11: 420, 1
screw11_name: front right screw
screw12: 420, 150
screw12_name: center right screw
screw13: 420, 298
screw13_name: rear right screw
horizontal_move_z: 8
speed: 250

[screws_tilt_adjust]
screw1: 15, 1
screw1_name: front left screw
screw2: 15, 130
screw2_name: center left screw
screw3: 15, 290
screw3_name: rear left screw
screw4: 115, 55
screw4_name: center left-front screw
screw5: 115, 200
screw5_name: center left-rear screw
screw6: 220, 1
screw6_name: front center screw
screw7: 220, 130
screw7_name: center center screw
screw8: 220, 290
screw8_name: rear center screw
screw9: 325, 55
screw9_name: center right-front screw
screw10: 325, 200
screw10_name: center right-rear screw
screw11: 417, 1
screw11_name: front right screw
screw12: 417, 130
screw12_name: center right screw
screw13: 417, 290
screw13_name: rear right screw
horizontal_move_z: 8
speed: 350
screw_thread: CW-M3

[quad_gantry_level]
gantry_corners:
            525,30
            -75,300
points:
            420,3
            420,290
            15,290
            15,3
speed: 250
horizontal_move_z: 10
max_adjust: 7
retries: 5
retry_tolerance: 0.01

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_ORIGINAL
gcode:
    SAVE_GCODE_STATE NAME=BMC
    ATTACH_PROBE
    BED_MESH_CALIBRATE_ORIGINAL
    DETACH_PROBE
    RESTORE_GCODE_STATE NAME=BMC MOVE=1 MOVE_SPEED=200

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: QUAD_GANTRY_LEVEL_ORIGINAL
gcode:
    SAVE_GCODE_STATE NAME=QGL
    ATTACH_PROBE
    QUAD_GANTRY_LEVEL_ORIGINAL
    DETACH_PROBE
    RESTORE_GCODE_STATE NAME=QGL MOVE=1 MOVE_SPEED=200

[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: SCREWS_TILT_CALCULATE_ORIGINAL
gcode:
    SAVE_GCODE_STATE NAME=STC
    ATTACH_PROBE
    SCREWS_TILT_CALCULATE_ORIGINAL
    # DETACH_PROBE
    RESTORE_GCODE_STATE NAME=STC MOVE=1 MOVE_SPEED=200

# [z_tilt]
# z_positions:
#     520,35
#     520,305
#     -80,305
#     -80,35
# points:
#     420,5
#     420,270
#     20,270
#     20,5
# speed: 300
# horizontal_move_z: 4
# retries: 3
# retry_tolerance: 0.05

[axis_twist_compensation]
speed: 200
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 7
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
calibrate_start_x: 20
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position. This parameter must be provided.
calibrate_end_x: 400
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position. This parameter must be provided.
calibrate_y: 150
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter must be provided and is recommended to
#   be near the center of the bed

[gcode_macro PROBE_ACCU]
gcode:
  PROBE_ACCURACY SAMPLES=20
