[tmc5160 stepper_x]
cs_pin: PC4
spi_bus: spi1
interpolate: False
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0
driver_TBL: 0
driver_TOFF: 1
driver_HSTRT: 5
driver_HEND: 7
# driver_FD3: 0
driver_TPFD: 0
# driver_CHM: 1
# driver_VHIGHFS: 0
# driver_VHIGHCHM: 0
# driver_DISS2G: 1
# driver_DISS2VS: 1
# driver_PWM_AUTOSCALE: False
# driver_PWM_AUTOGRAD: True
# driver_PWM_FREQ: 0
# driver_FREEWHEEL: 0
# driver_PWM_GRAD: 0
# driver_PWM_OFS: 30
# driver_PWM_REG: 4
# driver_PWM_LIM: 12

[tmc5160 dual_carriage]
cs_pin: PD11
spi_bus: spi1
interpolate: False
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0
driver_TBL: 0
driver_TOFF: 1
driver_HSTRT: 5
driver_HEND: 7
# driver_FD3: 0
driver_TPFD: 0
# driver_CHM: 1
# driver_VHIGHFS: 0
# driver_VHIGHCHM: 0
# driver_DISS2G: 1
# driver_DISS2VS: 1
# driver_PWM_AUTOSCALE: False
# driver_PWM_AUTOGRAD: True
# driver_PWM_FREQ: 0
# driver_FREEWHEEL: 0
# driver_PWM_GRAD: 0
# driver_PWM_OFS: 30
# driver_PWM_REG: 4
# driver_PWM_LIM: 12

[tmc5160 stepper_y]
cs_pin: PC6
spi_bus: spi1
interpolate: False
run_current: 1.4
sense_resistor: 0.075
stealthchop_threshold: 0
driver_TBL: 0
driver_TOFF: 1
driver_HSTRT: 0
driver_HEND: 8
driver_TPFD: 0

driver_FD3: 0
# driver_CHM: 1
# driver_VHIGHFS: 0
# driver_VHIGHCHM: 0
# driver_DISS2G: 1
# driver_DISS2VS: 1
# driver_PWM_AUTOSCALE: True
# driver_PWM_AUTOGRAD: True
# driver_PWM_FREQ: 0
# driver_FREEWHEEL: 0
# driver_PWM_GRAD: 0
# driver_PWM_OFS: 30
# driver_PWM_REG: 4
# driver_PWM_LIM: 12

[tmc5160 stepper_y1]
cs_pin: PC7
spi_bus: spi1
interpolate: False
run_current: 1.4
sense_resistor: 0.075
stealthchop_threshold: 0
driver_TBL: 0
driver_TOFF: 1
driver_HSTRT: 0
driver_HEND: 8
driver_TPFD: 0

driver_FD3: 0
# driver_CHM: 1
# driver_VHIGHFS: 0
# driver_VHIGHCHM: 1
# driver_DISS2G: 1
# driver_DISS2VS: 1
# driver_PWM_AUTOSCALE: True
# driver_PWM_AUTOGRAD: True
# driver_PWM_FREQ: 0
# driver_FREEWHEEL: 0
# driver_PWM_GRAD: 0
# driver_PWM_OFS: 30
# driver_PWM_REG: 4
# driver_PWM_LIM: 12
# driver_SGT: 0
# driver_SEMIN: 0
# driver_SEUP: 0
# driver_SEMAX: 0
# driver_SEDN: 0
# driver_SEIMIN: 0
# driver_SFILT: 0

[tmc2209 stepper_z]
uart_pin: PF2
interpolate: False
run_current: 0.9
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 999999
# driver_IHOLDDELAY: 8              #8
# driver_TPOWERDOWN: 20             #20
# driver_TBL: 0                     #2
# driver_TOFF: 2                    #3
# driver_HEND: 2                    #0
# driver_HSTRT: 3                   #5
# driver_PWM_AUTOGRAD: False      #True
# driver_PWM_AUTOSCALE: False     #True
# driver_PWM_LIM: 10              #12
# driver_PWM_REG: 5               #8
# driver_PWM_FREQ: 0              #1
# driver_PWM_GRAD: 40             #14
# driver_PWM_OFS: 0               #36

[tmc2209 stepper_z1]
uart_pin: PE4
interpolate: False
run_current: 0.9
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 999999
# driver_IHOLDDELAY: 8              #8
# driver_TPOWERDOWN: 20             #20
# driver_TBL: 0                     #2
# driver_TOFF: 2                    #3
# driver_HEND: 2                    #0
# driver_HSTRT: 3                   #5
# driver_PWM_AUTOGRAD: False      #True
# driver_PWM_AUTOSCALE: False     #True
# driver_PWM_LIM: 10              #12
# driver_PWM_REG: 5               #8
# driver_PWM_FREQ: 0              #1
# driver_PWM_GRAD: 40             #14
# driver_PWM_OFS: 0               #36 

[tmc2209 stepper_z2]
uart_pin: PE1
interpolate: False
run_current: 0.9
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 999999
# driver_IHOLDDELAY: 8              #8
# driver_TPOWERDOWN: 20             #20
# driver_TBL: 0                     #2
# driver_TOFF: 2                    #3
# driver_HEND: 2                    #0
# driver_HSTRT: 3                   #5
# driver_PWM_AUTOGRAD: False      #True
# driver_PWM_AUTOSCALE: False     #True
# driver_PWM_LIM: 10              #12
# driver_PWM_REG: 5               #8
# driver_PWM_FREQ: 0              #1
# driver_PWM_GRAD: 40             #14
# driver_PWM_OFS: 0               #36 

[tmc2209 stepper_z3]
uart_pin: PD3
interpolate: False
run_current: 0.9
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 999999
# driver_IHOLDDELAY: 8              #8
# driver_TPOWERDOWN: 20             #20
# driver_TBL: 0                     #2
# driver_TOFF: 2                    #3
# driver_HEND: 2                    #0
# driver_HSTRT: 3                   #5
# driver_PWM_AUTOGRAD: False      #True
# driver_PWM_AUTOSCALE: False     #True
# driver_PWM_LIM: 10              #12
# driver_PWM_REG: 5               #8
# driver_PWM_FREQ: 0              #1
# driver_PWM_GRAD: 40             #14
# driver_PWM_OFS: 0               #36 

[tmc2209 extruder]
uart_pin: ebb: PA15 #PE1
interpolate: False
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 999999

[tmc2209 extruder1]
uart_pin: ebb1: PA15 #PD3
interpolate: False
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 999999